{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <link href="{{urlAccountsCdn}}" rel=preload></script>
    <link href="{{chunkVendor}}" rel=preload as=script></script>
    <link href="{{pathApp}}" rel=preload as=script>

    <prestashop-accounts></prestashop-accounts>
    <div id="app"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        var knytify = {{ knytify|json_encode|raw }}
    </script>

    <script src="{{urlAccountsCdn}}" type="text/javascript"></script>
    <script src="{{chunkVendor}}"></script>
    <script src="{{pathApp}}"></script>

    <script type="text/javascript">
        window?.psaccountsVue?.init();

        if(window.psaccountsVue.isOnboardingCompleted() != true)
        {
            const el = document.getElementById("module-config")
            if(el && el.style) {
                el.style.opacity = "0.5";
            }
        }
    </script>
{% endblock %}
