{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <link href="{{urlAccountsCdn}}" rel=preload></script>
    <link href="{{chunkVendor}}" rel=preload as=script></script>
    <link href="{{pathApp}}" rel=preload as=script>

    <div id="knytify-app"></div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        var knytify = {{ knytify|json_encode|raw }}
    </script>

    <script src="{{urlAccountsCdn}}" type="text/javascript"></script>
    <script src="{{chunkVendor}}"></script>
    <script src="{{pathApp}}"></script>

    <script type="text/javascript">

    </script>
{% endblock %}
