{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <prestashop-accounts></prestashop-accounts>

    <div>
    <script>
        var knytify = {{ knytify|json_encode|raw }}
    </script>

    <link href="{{pathApp}}" rel=preload as=script>

    <div id="app"></div>
    <script src="{{chunkVendor}}"></script>
    <script src="{{pathApp}}"></script>

    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{urlAccountsCdn}}" rel=preload></script>

    <script>
        window?.psaccountsVue?.init();

        if(window.psaccountsVue.isOnboardingCompleted() != true)
        {
            document.getElementById("module-config").style.opacity = "0.5";
        }
    </script>
{% endblock %}
