{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card login" id="knytify">
        <div class="card-body card-block">

            <div class="btn-holder">
                <a href="{{getting_started_link}}" class="knyt-btn">Update credentials</a>
            </div>
            
            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>

			<p class="card-title">
				Configuration
			</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



