{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-body card-block">

			<div id="knytify" class="panel container">
				<div class="row options">
					<div class="col-sm-6 option">
						<a href="{{registration_link}}">New Account</a>
					</div>
					<div class="col-sm-6 option">
						<a href="{{login_link}}">Log In</a>
					</div>
				</div>

				<a href="{{test_1}}">Test1</a>
				<a href="{{test_2}}">Test2</a>
				<a href="{{test_3}}">Test3</a>
			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



