{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card login" id="knytify">
        <div class="card-body card-block">

            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>

			<p class="card-title">
				Do you already have an account?
			</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

            
            <p>
                <a href="{{getting_started_link}}">Choose another authentication method.</a>
            </p

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



