{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card registration" id="knytify">
        <div class="card-body card-block">

    
            <div class="btn-holder">
                <a href="{{getting_started_link}}" class="knyt-btn">Authenticate instead</a>
            </div>
                
            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>
            
			<div class="panel container">

            
            {% if success  %}

                <p class="card-title">
                    You are now registered !<br/>
                    Please, check your e-mail for the confirmation link.<br/><br/>
                    <a href="{{configuration_link}}">Go to configuration page.</a>
                </p>

            {% else %}

                <p class="card-title">
                    Register now with Knytify, in one step!
                </p>


                {% if error %}
                    <p class="card-title">
                        An error happened during the registration process: <br/>
                        {{error}}
                    </p>
                {% endif %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                    
            {% endif %}

			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



