{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card registration" id="knytify">
        <div class="card-body card-block">
			<div class="panel container">

            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>

			<p class="card-title">
				Register now with Knytify, in one step!
			</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}

			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



