{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="card registration" id="knytify">
        <div class="card-body card-block">
			<div class="panel container">

            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
            </p>
            
            {% if success  %}

                <p class="card-title">
                    You are now registered !<br/>
                    You can now confirm your e-mail<br/>
                </p>

            {% else %}

                <p class="card-title">
                    Register now with Knytify, in one step!
                </p>


                {% if error %}
                    <p class="card-title">
                        An error happened during the registration process.
                    </p>
                {% endif %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
                    
                <p>
                    <a href="{{getting_started_link}}">Choose another authentication method.</a>
                </p

            {% endif %}

			</div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



