{% extends '@!PrestaShop/Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div id="knytify" class="card login knytify-stats">
        <div class="card-body card-block">

            <div class="btn-holder">
                <a href="{{configuration_link}}" class="knyt-btn">Go to configuration</a>
            </div>

            <p class="card-title">
                <img src="/modules/knytify/logo.png"/>
                <span>Fraud Stats</span>
            </p>

            {% if error  %}


            <p class="card-title">
                An error happened during the log-in process: <br/>
                {{error}}
            </p>

            {%else%}



                {% if stats and stats_utm %}

                <div class="charts-container">

                    <div class="chart-container chart-container-small">
                        <h1>Fraud score by UTM source</h1>
                        <canvas id="chart-utm"></canvas>
                    </div>
                    <div class="chart-container chart-container-wide">
                        <h1>Evolution</h1>
                        <canvas id="chart-evolution"></canvas>
                    </div>
                    <div class="chart-container chart-container-small">
                        <h1>Percentage of fraud</h1>
                        <canvas id="chart-percentage"></canvas>
                    </div>
                    <!--<div class="chart-container chart-container-wide">
                        <h1>Recap</h1>
                        <p>
                            Number of sessions: {{stats_recap.num_sessions_this_month}} this month (previous month {{stats_recap.num_sessions_prev_month}})
                        </p>

                        <p >
                            Number of fraud sessions: {{stats_recap.num_fraud_this_month}} this month (previous month {{stats_recap.num_fraud_prev_month}})
                        </p>
                    </div> -->


                </div>

                <script>
                    const stats = {{stats|json_encode|raw}}
                    loadChartEvolution(stats)
                    loadChartPercentage(stats)
                    loadChartUtm({{stats_utm|json_encode|raw}})
                </script>

                {%endif%}

                {% if stats_recap  %}



                {%endif%}


            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
